body{
    text-align: center;
    background-color: #f8f9fa;
    color: black;
    font-family: 'Montserrat',sans-serif;
    text-align: center;   
}

/* nav section */

.container-fluid{
    padding: 2% 5%
}
.navbar-brand{
    margin: auto;
    font-family: 'Ubuntu';
    font-size: 1.3rem;
    font-weight: bold;
    width: 200px;
}
.nav-btn{
    margin: auto 20px;
}
.nav-btn:hover{
    background-color: rgb(187, 184, 184);
}

/* info section 1 */
.container-fluid-is1{
    padding: 12%
}
.container-fluid-is3{
    padding: 5% 9%
}
.is1-image{
    width: 90%;
    fill: black;
}
.big-heading {
    font-family: 'Montserrat-black', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
    text-align: left;
    color: black;
}
/* CALL TO ACTION section */
.big-heading3 {
    font-family: 'Montserrat-black', sans-serif;
    font-size: 3.1rem;
    line-height: 1.4;
    font-weight: 800;
    text-align: left;
    color: black;
    padding-top: 10%;
}
.account-button{
    margin: 20px;
}
