body{
    text-align: center;
    background-color: #f8f9fa;
    color: black;
    font-family: 'Montserrat',sans-serif;
    text-align: center;   
}

/* nav section */
.card{
    text-align: center;
}
.container-fluid{
    padding: 1% 5%
}
.container-fluid-is1{
    padding: 5%;
}
.container-fluid-is3{
    padding: 5% 9%
}
.navbar-brand{
    margin: auto 100px;
    width: 10%;
}
.nav-btn{
    margin: auto 20px;
}
.nav-btn:hover{
    background-color: rgb(187, 184, 184);
}
.nav-item{
    border: auto 300px;
    margin:auto 8px;
}
.bi{
    font-size: 1.5rem;
}
.profile-icon{
    width: 8%;
}
.search-bar{
     margin:auto 8px;
}
/* info section 1 */
.is1-image{
    width: 90%;
    fill: black;
}
.big-heading {
    font-family: 'Montserrat-black', sans-serif;
    font-size: 3.4rem;
    line-height: 1.5;
    font-weight: 900;
    text-align: left;
    color: black;
}
/* CALL TO ACTION section */
.big-heading3 {
    font-family: 'Montserrat-black', sans-serif;
    font-size: 3.1rem;
    line-height: 1.4;
    font-weight: 800;
    text-align: left;
    color: black;
    padding-top: 10%;
}
.account-button{
    margin: 20px;
}
.carousel-inner{
    text-align: center;
}
.slider-button{
    border: none;
    /* padding: 0; */
    /* border-top: none;
    border-left: none;
    border-right: none; */
    /* border-bottom: solid; */
    margin:auto 60px;
    /* background: none; */
}
#you, #localized{
    display: none;
}

#mover1{
    display: none;
}

/* FOOTER SECTION */

.footer-icon{
    color: #000000;
    font-size: 1rem;
    margin: 20px 10px;
} 

@media (max-width: 990px){
    .big-heading {
        font-family: 'Montserrat-black', sans-serif;
        font-size: 2.8rem;
        line-height: 1.5;
        font-weight: 900;
        text-align: center;
        color: black;
    }
    /* CALL TO ACTION section */
    .big-heading3 {
        font-family: 'Montserrat-black', sans-serif;
        font-size: 2.5rem;
        line-height: 1.4;
        font-weight: 800;
        text-align: center;
        color: black;
        padding-top: 10%;
    }

    .carousel-control-prev, .carousel-control-next{
        display: none;
    }

    .card{
        text-align: center;
        margin: 20px auto;
    }
}
